# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/

# mac thing
.DS_Store

# VS Code configuration
.VSCode

# GoKi stores binaries in bin directories
bin

# Generated as part of girl/girl_test.go
girl/test.png

# Go workspace files
go.work
go.work.sum