bin

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work
go.work.sum

.vscode
.idea

/gi/testdata
/svg/testdata
/colors/testdata
/giv/testdata
/paint/testdata
/cursors/cursorimg/testdata
/coredom/testdata
/raster/testdata
/grease/testdata
/ki/json_test.json
/grows/jsons/testdata/
/grows/tomls/testdata/