body {
  margin: 0;
  overflow: hidden;

  color: #E1E2EB;
  background-color: #121316;
  --container-color: #44474E;
  --primary-color: #ADC6FF;
  --shine-color: #fff1;
}

@media (prefers-color-scheme: light) {
  body {
    color: #191B22;
    background-color: #FAF8FD;
    --container-color: #E1E2EB;
    --primary-color: #005BC0;
    --shine-color: #fff4;
  }
}

#app {
  width: 100vw;
  height: 100vh;

  /* no selection of canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#text-field {
  position: fixed;
  opacity: 0;
  top: -10px;
  left: -10px;
  width: 0;
  height: 0;
}

/* Loader: */

#app-wasm-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

#app-wasm-loader-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

#app-wasm-loader-icon {
  width: 5em;
  height: 5em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#app-wasm-loader-title {
  font-size: 24px;
}

#app-wasm-loader-label {
  font-size: 16px;
}

#app-wasm-loader-progress {
  flex-grow: 1;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 1em;
  border-radius: 100px;
  color: var(--primary-color);
  background-color: var(--container-color);
}

#app-wasm-loader-progress::-webkit-progress-bar {
  border-radius: 100px;
  background-color: var(--container-color);
}

#app-wasm-loader-progress::-webkit-progress-value {
  border-radius: 100px;
  background-color: var(--primary-color);
}

#app-wasm-loader-progress::-moz-progress-bar {
  border-radius: 100px;
  background-color: var(--primary-color);
}

#app-wasm-loader-rectangles {
  display: flex;
  flex-grow: 1;
  gap: 1em;
}

.app-wasm-loader-rectangle {
  background-color: var(--container-color);
  border-radius: 20px;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #app-wasm-loader-rectangles {
    flex-direction: column;
  }
}

/* Loading animation effect: */
.app-wasm-loader-rectangle {
	background-image:	linear-gradient(90deg, #0000, var(--shine-color), #0000);
	background-size: 160px 100%;
	background-repeat: no-repeat;
	background-position: left -160px top 0;
	animation: shine 1s ease infinite;
}

@keyframes shine {
	to {
		background-position: right -160px top 0;
	}
}
