body {
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;

  /* no selection of canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#text-field {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
}

/* Loader: */

#app-wasm-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #E1E2EB;
  background-color: #121316;
  --container-color: #44474E;
  --primary-color: #ADC6FF;
}

@media (prefers-color-scheme: light) {
  #app-wasm-loader {
    color: #191B22;
    background-color: #FAF8FD;
    --container-color: #E1E2EB;
    --primary-color: #005BC0;
  }
}

#app-wasm-loader-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

#app-wasm-loader-icon {
  width: 5em;
  height: 5em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#app-wasm-loader-title {
  font-size: 24px;
}

#app-wasm-loader-label {
  font-size: 16px;
}

#app-wasm-loader-progress {
  flex-grow: 1;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 1em;
  border-radius: 100px;
  color: var(--primary-color);
  background-color: var(--container-color);
}

#app-wasm-loader-progress::-webkit-progress-bar {
  border-radius: 100px;
  background-color: var(--container-color);
}

#app-wasm-loader-progress::-webkit-progress-value {
  border-radius: 100px;
  background-color: var(--primary-color);
}

#app-wasm-loader-progress::-moz-progress-bar {
  border-radius: 100px;
  background-color: var(--primary-color);
}

#app-wasm-loader-rectangles {
  display: grid;
  columns: 3;
  grid-template-columns: repeat(3, 1fr);
  flex-grow: 1;
  gap: 1em;
}

.app-wasm-loader-rectangle {
  background-color: var(--container-color);
  border-radius: 20px;
}

.app-wasm-loader-rectangle:first-child {
  grid-row: 1/3;
}

.app-wasm-loader-rectangle:last-child {
  grid-column: 2/4;
}

@media only screen and (max-width: 768px) {
  #app-wasm-loader-rectangles {
    columns: 2;
    grid-template-columns: repeat(2, 1fr);
  }

  .app-wasm-loader-rectangle:first-child {
    display: none;
  }

  .app-wasm-loader-rectangle:last-child {
    grid-column: 1/3;
  }
}

.app-wasm-loader-rectangle {
  animation: load-animation 1s infinite;
}

@keyframes load-animation {
  0% {
    opacity: 0.75;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.75;
  }
}
