package main

import (
	_ "embed"

	"goki.dev/gi"
)

//go:embed app.exe
var exe []byte

//go:embed icon.svg
var icon []byte

func main() {
	b := gi.NewAppBody("{{.Name}} Installer")
	b.App().SetAppBarConfig(nil).SetIconBytes(icon)
	bt := gi.NewButton(b).SetText("Install {{.Name}}")
	bt.OnClick(func(e events.Event) {
		err := os.WriteFile("C:\\Program Files\\{{.Name}}\\{{.Name}}.exe", exe, 0666)
		gi.ErrorDialog(bt, err, "Error installing {{.Name}}")
	})
	b.NewWindow().Run().Wait()
}