name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Set up Core
      run: go install ./cmd/core && core setup

    - name: "Install video dependencies (TODO: move to a command)"
      run: sudo add-apt-repository ppa:savoury1/ffmpeg4 && sudo apt install libswscale-dev libavcodec-dev libavformat-dev libswresample-dev libavutil-dev libasound2-dev

    - name: Build
      run: go build -v ./...

    - name: Build Docs
      run: core build web -dir docs -o static -vanity-url cogentcore.org/core -github-vanity-repository cogentcore/core

    # we can't test gpu, xyz, and system on the CI since there is no Vulkan support
    - name: Test
      run: go test -v $(go list ./... | grep -v gpu | grep -v xyz | grep -v system) -coverprofile cover.out -timeout 30s

    - name: Update coverage report
      uses: ncruces/go-coverage-report@v0
      with:
        coverage-file: cover.out
      if: github.event_name == 'push'
